.dropZoneX{
    width: 26.2vw;
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.65);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    z-index: 0;
    
}


.dropZoneX span{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(140, 220, 206);
    top: 50%;
    left: 50%;
    margin-left: 1vw;
    transform: translate(-50%, -50%);
}

.fieldPlace {
    width: 25.75vw;
    height: 20vh;
    overflow-y: scroll;
}

.tableField {   
  height: 5vh;
  width: 15.5vw;
  line-height: 5vh;
  font-size: 16px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  background-color: #7fb8f5;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  list-style-type:none;
  transition: background-color 0.3s ease;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  margin-left: 2vw;
}

.tableField:hover{
    background-color: #4ea1fa;
}